<div class="well well-lg">
<h1>Some of My Favorite Countires</h1>
<table class="table table-striped">
  <tr>
      <h3><%= @countries[0] %></h3>
      <%= image_tag(@country_pics[0]) %>
  </tr>
  <tr>
      <h3><%= @countries[1] %></h3>
      <%= @country_pics[1]%>
  </tr>
  <tr>
      <h3><%= @countries[2] %></h3>
      <%= @country_pics[2]%>
  </tr>
</table>
</div>